
.box0{
text-align: center;
text-decoration: wavy;
text-decoration: underline;






}



.box1{
text-align: center;
text-decoration: wavy;
text-decoration: underline;



}
.txt1{



text-align: center;
text-decoration: wavy;
text-decoration-style: solid;




}






.box2{



    text-align: center;
text-decoration: underline;
}
.txt2{

text-decoration: wavy;
text-decoration-style: solid;

align-items: center;




}
.box3{



    text-align: center;
text-decoration: underline;

}

.box4{


    
    text-align: center;
text-decoration: underline;
}
.bb{

text-align: center;



}
.txt4{


text-align: center;


}